{% extends "layout.html" %}

{% block content %}
    <h1>Entrar</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-field">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-field">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-field">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
    <p>Novo usuário? <a href="{{ url_for(\'auth.register\') }}">Clique para registrar!</a></p>
{% endblock %}

